{{- with .Site.Params.comments.giscus -}}
    <script
        src="https://giscus.app/client.js"
        data-repo="ajiekusumadhany/blog"
        data-repo-id="R_kgDOKLIS1g"
        data-category="Comments"
        data-category-id="DIC_kwDOKLIS1s4CY2Jb"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="id"
        data-loading="false"
        crossorigin="anonymous"
        data-swup-reload-script
        async
    ></script>

    <script data-swup-reload-script>
        (function () {
            addEventListener('message', e => {
                if (event.origin !== 'https://giscus.app') return;
                handler();
            });
            window.addEventListener('onThemeChange', handler);

            function handler() {
                if (document.documentElement.dataset.scheme === 'light') {
                    setGiscusTheme('light');
                } else {
                    setGiscusTheme('dark');
                }
            }
        })();

        function setGiscusTheme(theme) {
            let giscus = document.querySelector('iframe.giscus-frame');
            if (giscus) {
                giscus.contentWindow.postMessage(
                    {
                        giscus: {
                            setConfig: {
                                theme: theme,
                            },
                        },
                    },
                    'https://giscus.app'
                );
            }
        }
    </script>
{{- end -}}
